body {
	margin: 0px;
}
#leftSideBar {
	position: absolute;
	float: left;
	background-color: #646369;
	width: 20%;
	height: 100%;
}
#main {
	position: absolute;
	background-color: #3A326B;
	left: 20%;
	width: 80%;
	height: 100%;
}

#gameWorld {
	position: absolute;
	width: 100%;
	height: 100%;
}