@import "queries";
@import "cross-browser";
@import "mixins";
@import "queries";

$menu-background-color: #111111;


nav {
    position: absolute;
    width: 200px;
    height: 400px;
    background-color: $menu-background-color;
    opacity: 0.5;
    @include border-radius(8px);
    @include menu-font(20px);
    z-index: 10;
    margin: 5px;
    @include tablet {
        width: 98%;
        height: 60px;
        @include border-radius(4px);
        @include menu-font(15px);
        margin: 5px;
    }
    ul {
        list-style: none;
        margin: 5px;
        @include tablet {
            @include flex();
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        li {
            @include button-style();
            @include border-radius(4px);
            @extend .noselect;
            @include tablet {
                @include button-style(12px);
                margin-bottom: 0;
                &.hidden {
                    display: none;
                }
                padding-right: 30px;
                padding-left: 30px;
            }
            @include phone {
                @include button-style(12px);
                margin-bottom: 0;
                &.hidden {
                    display: none;
                }
            }
        }

    }
}


.phone-bottom {
    display: none;
    @include tablet {
        display: block;
        bottom: 10px;
        background-color: transparent;
    }
    ul {
        @include flex();
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        li {
            display: inline-block;
            margin-right: 5px;
            background-color: $menu-background-color;

        }
    }

}
