


html, body, nav, ul, li {
    margin: 0;
    border: 0;
    padding: 0;
}

@import "navbar";

#viewport {
    position: absolute;
    width: 100%;
    height: 100%;
    &:active {
        cursor: crosshair;
    }
}

#main {
    position: absolute;
    background-color: #1D2E33;
    width: 100%;
    height: 100%;
}
